<div class="container"><h2>Document</h2></div>
<div class="container">
  <h3>Readme</h3>
  <p>- Repository: <a href="https://github.com/ducbaovn/elevator"></a></p>
  <p>- How to build and run:</p>
  <ul>
    <li>Install Docker: <a target="_blank" href="https://www.docker.com/community-edition#/download">https://www.docker.com/community-edition#/download</a></li>
    <li>Run MySQL docker container: <i><b>docker run -d --name elevator_db -e MYSQL_PASS=bodyguy -e ON_CREATE_DB="elevator" tutum/mysql</b></i></li>
    <li>Run My Elevator App docker container: <i><b>docker run --name elevator_app --link elevator_db -e NODE_ENV=development -e ENV_RUN_CMD='node app.js' -p 1337:1337 ducbaovn/elevator</b></i></li>
  </ul>
  <h3>Document</h3>
  <p>- Angular App: <a target="_blank" href="http://thangmay.herokuapp.com/docs">Docs</a></p>
  <p>- API: <a target="_blank" href="http://thangmay.herokuapp.com/apidocs">Docs</a></p>
  <a ui-sref="install"><b>Next to Install System</b></a>
</div>